* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(25, 30, 31);
  color: rgb(203, 221, 255);
  height: 100vh;
  width: 100%;
  font-family: sans-serif;
}

main {
  height: 100%;
  width: 100%;
}

h1 {
  text-transform: uppercase;
}

.game-screen {
  display: flex;
  gap: 3rem;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bar-container {
  width: 90%;
  height: 7rem;
  display: flex;
}

.bar {
  --delay: 0;
  flex: 1;
  height: 100%;
  background-color: rgb(73, 73, 80);
  transition: background-color 2s ease;
  border: 1px solid black;
  animation: up-and-down 5s infinite ease-in-out;
  animation-delay: var(--delay);
  animation-composition: add;
}

@keyframes up-and-down {
  50% {
    transform: translateY(20%);
  }
}

.bar--active {
  background-color: rgb(70, 197, 219);
  cursor: pointer;
  transition: all 0.1s ease;
}

.bar--active:hover {
  background-color: rgb(134, 222, 62);
  transform: scale(1.3);
}

.bar--won {
  background-color: red;
  transform: scale(1.3);
}

.new-game-btn {
  padding: 1rem;
  color: rgb(151, 181, 236);
  border: 1px solid rgb(151, 181, 236);
  border-radius: 0.5rem;
  background-color: transparent;
  cursor: pointer;
}
.new-game-btn:hover {
  background-color: rgba(151, 181, 236, 0.31);
}

.stats > p {
  text-align: center;
}
